tsl2.nano.h5/src/resources/ns1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="permissions.xsd" xmlns:ns1="permissions.xsd">
  <xs:import schemaLocation="permissions.xsd"/>
  <xs:element name="principal">
    <xs:complexType>
      <xs:attribute name="class" use="required"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
